{% extends 'base.html' %}

{% load static %}


{% block page_title %}Advanced Search{% endblock %}

{% block title %}Advanced Search{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{% static 'main_page/advanced_search.css' %}">
    <br><br>

        <main>
            <section id="search-bars">
                <form class="d-flex mt-3" role="search" method="get" action="{% url 'main_page:advanced_search' %}">
                <select name="product_type" class="form-control me-2">
                    <option value="pizza">Pizza</option>
                    <option value="burger">Burger</option>
                </select>
                      <input class="form-control me-2" name="name" type="search" placeholder="name" aria-label="Search">

                      <input class="form-control me-2" name="producer" type="search" placeholder="producer" aria-label="Search">

                      <input class="form-control me-2" name="min_price" type="search" placeholder="min price" aria-label="Search">

                      <input class="form-control me-2" name="max_price" type="search" placeholder="max price" aria-label="Search">

                      <input class="form-control me-2" name="description" type="search" placeholder="description" aria-label="Search">
                      {% if not request.GET.product_type == "burger" %}
                        <input class="form-control me-2" name="pizza_thickness" type="search" placeholder="Pizza thick type" aria-label="Search">
                      {% endif %}
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </section>
        </main>

    {% if pizzas or burgers %}
        <section id="pizzas">
            <h2>Search Results</h2>
            {% if pizzas %}
            <ul>
                {% for pizza in pizzas %}
                <li>
                    <h3>{{ pizza.title }}</h3>
                    <img src="{{ pizza.image.url }}" alt="{{ pizza.title }}">
                    <p>Price: ${{ pizza.price }}</p>
                    <p>Producer: {{ pizza.producer }}</p>
                    <p>Thickness: {{ pizza.thick_type }}</p>
                    <p>Rating: {{ pizza.rate }}</p>
                    <a href="{% url 'main_page:pizza_detail' pizza.pk %}"><button class="details-btn">Details</button></a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <br>

            {% endif %}

            {% if burgers %}
            <section id="burgers">
                <ul>
                    {% for burger in burgers %}
                    <li>
                        <h3>{{ burger.title }}</h3>
                        <img src="{{ burger.image.url }}" alt="{{ burger.title }}">
                        <p>Price: ${{ burger.price }}</p>
                        <p>Producer: {{ burger.producer }}</p>
                        <p>Rating: {{ burger.rate }}</p>
                        <a href="{% url 'burger:burger_detail' burger.pk %}"><button class="details-btn">Details</button></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

    {% else %}
        <h2>Nothing found</h2>
    {% endif %}
    <br><br>

{% endblock %}
