{% extends 'base.html' %}


{% block page_title %}Pizza {{ pizza.title }}{% endblock %}

{% block title %}Pizza {{ pizza.title }}{% endblock %}


{% block body %}
    <ul>
        <li>
            <h2>{{ pizza.title }}</h2>
            <img src="{{ pizza.image.url }}" alt="{{ pizza.title }}" height="150">
            <h4>Price: ${{ pizza.price }}</h4>
            <h4>Producer: {{ pizza.producer }}</h4>
            <h4>Thickness: {{ pizza.thick_type }}</h4>
            <h4>Rating: {{ pizza.rate }}</h4>
            <h4>Description: {{ pizza.description }}</h4>
            <a href="{% url 'main_page:basket_add' pizza.id %}"><button class="details-btn">Add to Basket</button></a>
            <a href="{% url 'main_page:wish_list_add' pizza.id %}"><button class="details-btn">Add to Wish List</button></a>

        </li>
        {% if pizza.producer.creator == request.user %}
            <li>
                <a href="{% url 'main_page:delete_pizza' pizza.pk  %}"><button class="details-btn">Delete Pizza</button></a>
            </li>
            <li>
                <br>
                <a href="{% url 'main_page:update_pizza' pizza.pk  %}"><button class="details-btn">Update Pizza</button></a>
            </li>
        {% endif %}
    </ul>

    <ul>
        <li>
            <br>
            <br>
            <br>

            <h1>Similar Pizzas</h1>
            <br>
            {% for similar_pizza in similar %}

                <h2>{{ similar_pizza.title }}</h2>
                <img src="{{ similar_pizza.image.url }}" alt="{{ similar_pizza.title }}" height="150">
                <h4>Price: ${{ similar_pizza.price }}</h4>
                <h4>Producer: {{ similar_pizza.producer }}</h4>
                <h4>Thickness: {{ similar_pizza.thick_type }}</h4>
                <h4>Rating: {{ similar_pizza.rate }}</h4>
                <a href="{% url 'main_page:pizza_detail' similar_pizza.pk %}"><button class="details-btn">Details</button></a>
                <a href="{% url 'main_page:basket_add' pizza.id %}"><button class="details-btn">Add to Basket</button></a>

            {% endfor %}
        </li>
    </ul>

    {% include 'layouts/pagination.html' with page_obj=similar %}

    <br>

{% endblock %}
