{% extends 'base.html' %}


{% block page_title %}Pizza {{ pizza.title }}{% endblock %}

{% block title %}Pizza {{ pizza.title }}{% endblock %}


{% block body %}
    <ul>
        <li>
            <h2>{{ pizza.title }}</h2>
            <img src="{{ pizza.image.url }}" alt="{{ pizza.title }}" height="150">
            <h4>Price: ${{ pizza.price }}</h4>
            <h4>Producer: {{ pizza.producer }}</h4>
            <h4>Thickness: {{ pizza.thick_type }}</h4>
            <h4>Rating: {{ pizza.rate }}</h4>
            <h4>Description: {{ pizza.description }}</h4>

        </li>
    </ul>

{% endblock %}
