<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Delicious Pizza{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_page/base.css' %}">
</head>
<body>
    <header>
        <button class="menu-btn" onclick="toggleMenu()">☰ Menu</button>
        <h1>{% block title %}Delicious Pizza{% endblock %}</h1>
    </header>

    <aside id="side-panel" class="closed">
        <nav>
            <ul>
                <li><a href="{% url 'main_page:home' %}">All Pizzas</a></li>
                <li><a href="{% url 'burger:burgers' %}">All Burgers</a></li>
                <li><a href="{% url 'main_page:producers' %}">Producers</a></li>
                <li><a href="{% url 'main_page:advanced_search' %}">Advanced Search</a></li>
                <li><a href="{% url 'main_page:about' %}">About Us</a></li>
            </ul>
            <div class="search-bars">
                <form class="d-flex mt-3" role="search" method="get" action="{% url 'main_page:search' %}">
                  <input class="form-control me-2" name="search_data" type="search" placeholder="Search" aria-label="Search">
                  <button class="details-btn" type="submit" style="height:35px;width:100px">Search</button>
                </form>
            </div>
        </nav>
    </aside>

    <main>
        {% include 'layouts/massages.html' %}
        {% block body %}{% endblock %}

    </main>


    <footer>
        <p>&copy; 2024 Delicious Pizza. All rights reserved.</p>
    </footer>

    <script>
        function toggleMenu() {
            const sidePanel = document.getElementById('side-panel');
            if (sidePanel.classList.contains('closed')) {
                sidePanel.classList.remove('closed');
                sidePanel.classList.add('open');
            } else {
                sidePanel.classList.remove('open');
                sidePanel.classList.add('closed');
            }
        }
    </script>
</body>
</html>